{{extend 'template.html'}}

{{block content}}
<div class="ui two column grid">
  <div class="row">
    <div class="four wide column">
    	<h3 class="ui dividing header">Nolan’ın Sıradaki Filmi Dunkirk’den İlk Detaylar Açıklandı! </h3>
      <img src="/movies/static/images/news1.jpg">
    </div>
    <div class="twelve wide column">
    	<p> Christopher Nolan’ın kısa süre önce gün yüzüne çıkan, Dunkerque Tahliyesi’ni konu edinecek olan yeni projesi Dunkirk’ten ilk detaylar açıklandı.</p>
<p>
Christopher Nolan‘ın sinema tarihinin en başarılı bilim-kurgu filmleri arasındaki yerini alan Interstellar‘ın ardından gelecek yeni projesi hakkındaki resmi detaylar belli olmaya başladı. Uzun bir süre boyunca sadece vizyon tarihini bildiğimiz yapımın konusu filmin çekimlerinin yapılacağı bölgenin yerel gazetesi La Voix Du tarafından gün yüzüne çıkarılmıştı.</p>
<p>
La Voix Du Nord sitesinde yer alan haberde Fransa’nın Dunkerque şehrinde çekimleri gerçekleştirecek olan filmin yönetmenliğini Christopher Nolan tarafından üstleneceği açıklanmıştı. Nolan’ın sıradaki projesi hakkında ilk bilgileri ortaya çıkaran haberde filmin 2. Dünya Savaşı’nın kaderini belirleyen olaylardan olan Dunkerque Tahliyesi ya da diğer adıyla Dinamo Operasyonu’nu konu edineceği belirtilmişti. Fransız yerel  gazatesinin bu haberinden kısa bir süre sonra Warner Bros.’dan ilk resmi açıklama geldi.</p>
    </div> 
  </div>
  <div class="ui divider"></div>
  <div class="row">
    <div class="four wide column">
      <h3 class="ui dividing header">Oscarın Yabancıları” Gösterimi İstanbul Modern’de Başlıyor! </h3>
      <img src="/movies/static/images/news2.jpg">
    </div>
    <div class="twelve wide column">
      <p> Bu yıl Oscarın yabancı dilde en iyi film kategorisinde yarışması için gönderilen filmlerden oluşturulan Oscarın Yabancıları adlı seçki 7 Ocak – 17 Ocak tarihleri arasında İstanbul Modern Sinema’da gösterilecek!</p>
<p>
İstanbul Modern Sinema, Oscar heyecanı yaklaşırken, “Yabancı Dilde En İyi Film” kategorisine aday filmleri hatırlatıyor. “Oscar’ın Yabancıları”, önümüzdeki günlerde sonuçları açıklanacak bu çekişmeli yarışta adı öne çıkan filmlerden bir seçki sunuyor. Program, Oscar adayı olmalarına rağmen aslında Hollywood kulvarının dışında, dünya festivallerinde başarılı olmuş, farklı dil ve kültürlerden filmlerin buluştuğu bir kategoriyi temsil ediyor.
Oscarın Yabancıları!</p>
<p>
Program dahilinde gösterilecek filmler arasında Yared Zeleke’nin yönettiği, prömiyerini bu yıl Cannes’da yapan ve ilk kez Oscarın resmi seçkisinde yer alan Etiyopyalı film Kuzu (Lamb); Deniz Gamze Ergüven’in Fransa adayı olarak seçilen ilk uzun metrajlı filmi Mustang; Severin Fiala, Veronika Franz ikilisinin yönetmenliğini üstlendiği, ilk gösterimini 2015’te Venedik’te yapan Avusturya adayı, art-house estetikli bir korku türü örneği olan Ich seh Ich seh (Goodnight Mommy) ve Hırvatistanlı yönetmen Dalibor Matanic’in yazıp yönettiği, yine bu yıl Cannes’ın Belirli Bir Bakış bölümünde Jüri Ödülü kazanan, aynı oyuncularla üç farklı zaman dilimindeki üç farklı aşk hikâyesi üzerinden anlatılan Balkan dramı Güneş Tepedeyken (Zvizdan) yer alıyor.</p>
<p>
Geçtiğimiz günlerde açıklanan Yabancı Dilde En İyi Film Oscarının son dokuz filmi arasında bu filmlerden yalnızca Mustang bulunuyor. Ancak farklı kültürlerden ve başarılı filmlerden oluşan bu seçki, İstanbul Modern aracılığıyla filmleri henüz görmemiş olanlar için harika bir fırsat!</p>
<p><b>
7 Ocak ve 17 Ocak tarihleri arasında gerçekleşecek olan etkinlik hakkında detaylı bilgiye İstanbul Modern’in resmi sayfasından ulaşabilirsiniz.</b></p>
    </div> 
  </div>
  <div class="ui divider"></div>
  <div class="row">
    <div class="four wide column">
      <h3 class="ui dividing header">Japon Yönetmen Hirokazu Kore’eda’dan Yeni Film: Still Deeper than the Sea  </h3>
      <img src="/movies/static/images/news3.jpg">
    </div>
    <div class="twelve wide column">
      <p> Bu yıl Cannes’da Umimachi Diary filmiyle Altın Palmiyeye aday gösterilen yönetmen Hirokazu Kore’eda, Still Deeper than the Sea adlı filmiyle geri dönüyor.</p>
<p>
Bu yıl Cannes Film Festivali’nde yarışma filmleri dahilinde gösterilen filmi Umimachi Diary (2015) ile büyük ilgi toplayan ve Altın Palmiyeye aday gösterilen Japonyalı auteur yönetmen Hirokazu Kore’eda, bir önceki filmi olan Like Father Like Son (2013) ile de festivalden Jüri Büyük Ödülü ile dönmüş; bu başarılı filmi ile herkesin beğenisini kazanmıştı. Önceki yıllarda da Distance (2001), Nobody Knows (2004) ve Air Doll (2009) filmleri ile Cannes Film Festivali’nde karşılaştığımız Hirokazu Kore’eda Umimachi Diary’nin ardından pek de ara vermeden yeni filmi için kolları sıvamış görünüyor.
<b>Still Deeper than the Sea 2016’da İzleyicisiyle Buluşacak!</b></p>
<p>
2016 yılının Mayıs ayında gösterime girmesini planladığı yeni filminin prodüksiyon çalışmalarına başlayan yönetmen, yeni filmi ile sıradışı bir aile dramasını anlatacak. Orijinal adı Umi Yori Mo Mada Fukaku olan Still Deeper than the Sea’nin senaryosu da yönetmen tarafından kaleme alındı.</p>
    </div> 
  </div>
  <div class="ui divider"></div>
  <div class="row">
    <div class="four wide column">
      <h3 class="ui dividing header">Star Wars: The Force Awakens Durdurulamıyor!  </h3>
      <img src="/movies/static/images/news4.jpg">
    </div>
    <div class="twelve wide column">
      <p> Vizyondaki ilk hafta sonunda kırılmadık rekor bırakmayan Star Wars: The Force Awakens Noel Haftası’nda da gişe rakamlarını alt üst etmeye devam ediyor.</p>
<p>
Star Wars: The Force Awakens‘ın vizyona girmesinden iki ay önce tükenen açılış biletleri büyük gişe rakamlarının habercisiydi. Filmin gösterime girmesi ile de bu durum fazlasıyla kanıtlanmış oldu. Vizyondaki ilk üç gününde sinema tarihinin “Açılış” başlığı altındaki neredeyse bütün rekorlara adını yazdıran filmin geçtiğimiz Hafta Sonu Gişe Rakamları‘nda ayrıntılarıyla incelemiştik. Çok geçmeden yılın en çok izlenilen ilk on filmi arasına giren Star Wars: The Force Awakens yeni haftasında da sinema salonlarını doldurmaya tüm hızıyla devam ediyor.</p>
    </div> 
  </div>
  <div class="ui divider"></div>
  <div class="row">
    <div class="four wide column">
      <h3 class="ui dividing header">Mark Ruffalo: “Solo Hulk Filmi için Uzun Süre Beklememiz Gerekecek!”  </h3>
      <img src="/movies/static/images/news5.jpg">
    </div>
    <div class="twelve wide column">
      <p> Mark Ruffalo’nun açıklamaların göre Marvel ve Universal’ın arasındaki gerilimler sebebiyle solo Hulk filmi için uzun bir süre daha beklememiz gerekebilir.</p>
<p>
Mark Ruffalo, 2012 tarihli The Avengers filminde başarılı bir Hulk profili çizmişti. Seyirci bazında Eric Bana ve Edward Norton‘un canlandırdığı Hulk’tan daha çok beğenilen Mark Ruffalo’nun Hulk’ı için bir solo film gelme ihtimali de konuşulmaya başlanmıştı. Fakat görünen o ki, solo Hulk filmi için bir süre daha beklememiz gerekiyor.</p>
<p>
İlk Avengers filminden sonra yönetmen Joss Whedon, “Solo Hulk filminin, yapılması en zor Marvel filmi olduğunu” söylemişti. Edward Norton’un başrolünü üstlendiği The Incredible Hulk filmi, en az kâr getiren Marvel filmi olmuş ve yeniden solo bir Hulk filmi yapılmasını güç hale getirmişti. Yeni aldığımız bilgiler ışığında ise durumun bundan daha kötü olduğunu öğreniyoruz.</p>
<p>
Universal ve Marvel arasında solo bir Hulk filmi için haklar epey karışmış durumda ve Yahoo’nun Mark Ruffalo ile yaptığı röportajda başarılı oyuncu bu konuya da değinerek şöyle ifade etti:</p>
<p>
“Sanırım bu konu üstünde çalışıyorlar. Marvel ve Universal’ın arası pek iyi değil, bu da tabii ki bizim aleyhimize olan bir şey. Fakat şunu kesin olarak biliyoruz ki, herkesin bir gün solo Hulk filmi yapılacağına dair umudu var, şu an değil fakat bir gün.”</p>
<p>
Mark Ruffalo, yakın bir gelecekte Hulk filmi yapılacağını düşünmüyor. Yahoo röportajında solo Spider-Man filmine de değinen oyuncu açıklamalarına şöyle devam etti:</p>
<p>
“Sony ve Marvel karakter hakları konusunda beraber iyi çalışıyor, eğer Hulk filmi yapılırsa bu kesinlikle solo Spider-Man filminden sonra olur, fakat dediğim gibi şu an için Universal Studios ve Marvel’ın arası pek iyi değil.”</p>
    </div> 
  </div>
</div>
  
{{end}}
